grid_spec.nc
C768_grid.tile*.nc
C768_mosaic.nc
C768_oro_data.tile*.nc
C768.facsf.tile*.nc
C768.maximum_snow_albedo.tile*.nc
C768.slope_type.tile*.nc
C768.snowfree_albedo.tile*.nc
C768.soil_type.tile*.nc
C768.substrate_temperature.tile*.nc
C768.vegetation_greenness.tile*.nc
C768.vegetation_type.tile*.nc
CFSR.SEAICE.1982.2012.monthly.clim.grb
RTGSST.1982.2012.monthly.clim.grb
global_albedo4.1x1.grb
global_glacier.2x2.grb
global_hyblev.l65.txt
global_maxice.2x2.grb
global_mxsnoalb.uariz.t1534.3072.1536.rg.grb
global_shdmax.0.144x0.144.grb
global_shdmin.0.144x0.144.grb
global_slmask.t1534.3072.1536.grb
global_slope.1x1.grb
global_snoclim.1.875.grb
global_snowfree_albedo.bosu.t1534.3072.1536.rg.grb
global_soilmgldas.statsgo.t1534.3072.1536.grb
global_soiltype.statsgo.t1534.3072.1536.rg.grb
global_tg3clim.2.6x1.5.grb
global_vegfrac.0.144.decpercent.grb
global_vegtype.igbp.t1534.3072.1536.rg.grb
grid_spec.nc
co2historicaldata_*.txt
